{
  "root": true,
  "env": {
    "browser": true,
    "es2021": true
  },
  "plugins": [
    "perfectionist",
    "unused-imports",
    "prettier",
    "react",
    "@next/eslint-plugin-next"
    // "react",
    // "@next/eslint-plugin-next"
  ],
  "extends": [
    // "eslint:recommended",
    // "plugin:react/recommended",
    // "plugin:@next/next/recommended",
    // "prettier"
    "airbnb",
    "airbnb/hooks",
    "prettier",
    "plugin:react/recommended",
    "plugin:@next/next/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 12,
    "sourceType": "module",
      "ecmaFeatures": {
      "jsx": true
    },
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx", ".css"]
      }
    }
  },
  "rules": {
    "no-alert": 0,
    "camelcase": 0,
    "no-console": 0,
    "no-unused-vars": [
      "off",
      {
        "ignoreRestSiblings": true
      }
    ],
    "no-param-reassign": 0,
    "no-underscore-dangle": 0,
    "no-restricted-exports": 0,
    "react/no-children-prop": 0,
    "consistent-return": 0,
    "react/react-in-jsx-scope": 0,
    "jsx-a11y/anchor-is-valid": 0,
    "react/no-array-index-key": 0,
    "no-promise-executor-return": 0,
    "react/require-default-props": 0,
    "react/jsx-props-no-spreading": 0,
    "react/display-name": 0,
    "import/prefer-default-export": 0,
    "react/function-component-definition": 0,
    "jsx-a11y/control-has-associated-label": 0,
    "react/forbid-prop-types": 0,
    "no-plusplus": 0,
    "no-use-before-define": 0,
    "react/jsx-no-useless-fragment": [
      1,
      {
        "allowExpressions": true
      }
    ],
    "prefer-destructuring": [
      1,
      {
        "object": true,
        "array": false
      }
    ],
    "react/no-unstable-nested-components": [
      1,
      {
        "allowAsProps": true
      }
    ],
    "react/jsx-no-duplicate-props": [
      1,
      {
        "ignoreCase": false
      }
    ],
    // unused-imports
    // https://www.npmjs.com/package/eslint-plugin-unused-imports
    "unused-imports/no-unused-imports": 1,
    "unused-imports/no-unused-vars": [
      0,
      {
        "vars": "all",
        "varsIgnorePattern": "^_",
        "args": "after-used",
        "argsIgnorePattern": "^_"
      }
    ],
    // perfectionist
    // https://eslint-plugin-perfectionist.azat.io/
    "perfectionist/sort-named-imports": [
      1,
      {
        "order": "asc",
        "type": "line-length"
      }
    ],
    "perfectionist/sort-named-exports": [
      1,
      {
        "order": "asc",
        "type": "line-length"
      }
    ],
    "perfectionist/sort-exports": [
      1,
      {
        "order": "asc",
        "type": "line-length"
      }
    ],
    "perfectionist/sort-imports": [
      1,
      {
        "order": "asc",
        "type": "line-length",
        "newlines-between": "always",
        "groups": [
          [
            "builtin",
            "external"
          ],
          "custom-context",
          "custom-services",
          "custom-hooks",
          "custom-utils",
          "internal",
          "custom-components",
          "custom-sections",
          "custom-styles",
          [
            "parent",
            "sibling",
            "index"
          ],
          "object",
          "unknown"
        ],
        "custom-groups": {
          "value": {
            "custom-context": "src/context/**",
            "custom-services": "src/services/**",
            "custom-hooks": "src/hooks/**",
            "custom-utils": "src/utils/**",
            "custom-components": "src/components/**",
            "custom-sections": "src/sections/**",
            "custom-styles": "src/styles/**"
          }
        },
        "internal-pattern": [
          "src/**"
        ]
      }
    ]
  }

  /*
  "rules": {
    "arrow-body-style": 1,
    "react/prop-types": 1,
    "react/display-name": 0,
    "import/no-unresolved": 2,
    "react/no-children-prop": 0,
    "react/self-closing-comp": 2,
    "react/react-in-jsx-scope": 0,
    "@next/next/no-img-element": 0,
    "react/no-unescaped-entities": 0,
    "import/no-useless-path-segments": 1,
    "no-unused-vars": [
      1,
      {
        "ignoreRestSiblings": false
      }
    ]
  }
    */
}
