.hero {
    background-image: url(./background/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;

    &__top {
        display: flex;
        justify-content: center;
        position: relative;
        &__box {
            display: flex;
            justify-content: center;
            padding-top: 30px;
        }
    }

    &__bot {

        display: flex;
		justify-content: space-around;
		align-items: center;

        &__nof {
            display: flex;
            padding-top: 2%;
        }

        &__market {
            padding-top: 20%;

            &__Button {
            box-shadow:inset 0px 0px 15px 3px #092b39;
            background-color:#092b39;
            border:4px solid #084f6b;
            display:inline-block;
            cursor: pointer;
            color:#ffffff;
            font-family:Arial;
            font-size:15px;
            padding:8px 13px;
            text-decoration:none;
            text-shadow:0px 1px 0px #092b39;
            }
        }

        &__cards {
            display: flex;
            position: relative;

            &__1 {
                padding-bottom: 20px;
            }
            &__2 {
                padding-bottom: 30px;
            }
            &__3 {
                padding-bottom: 25px;
            }
        }
    }
}