header {
	background: transparent;
	position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
}

.navbar {
	height: 8vh;
	padding: 0px 2% 0px;
	top: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-decoration: none;
	background: transparent;

	@include mobile {
		width: 100%;
		display: flex;
		text-align: left;
	}

	&__icon {
		margin-top: 4em;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 6%;
		

		&__nof {
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
			transition: 0.2s;
			&:hover {
			transform: scale(1.1);
			transition: 0.2s;
			@include mobile {
				padding-top: 600px;
				}
			}
		}

		&__coin {
			margin-left: 30px;
			margin-top: 20px;
			cursor: pointer;
			transition: 0.2s;
			&:hover {
			transform: scale(1.1);
			transition: 0.2s;
			}
		}
	}

	&__ul {
		list-style: none;
		display: flex;
		justify-content: center;
		align-items: center;
		padding-right: 400px;
		text-decoration: none;
		margin-top: 4em;

		&__li {
			margin-left: -15px;
			&__nosotros {
				font-family: 'Press Start 2P', 'Share Tech Mono', 'Share Tech', sans-serif;
				font-size: 1em;
				width: 190px;
				height: 50px;
				background: #68B346;
				color: #000;
				border:0px;
				position: relative;
				box-shadow:
					inset -4px 4px 1px 1px grey,
					inset -4px -4px 1px 1px lightgray,
					inset 4px 0px 1px 1px lightgray;
				margin-right: 33px;
				&:hover {
					color: #fff;
					cursor: pointer;
					background: #097F40;
				}
				&:active {
					top: 5px;
					box-shadow:
						-4px 4px 1px 1px grey,
						-4px -4px 1px 1px lightgray,
						4px 0px 1px 1px lightgray;
				}
				&::after {
					content: '';
					background: black;
					position: absolute;
					left: -1.5%;
					top: 0;
					width: 103%;
					height: 100%;
					z-index: -1;
				}
				&::before {
					content: '';
					background: black;
					position: absolute;
					left: 0;
					top: -6%;
					width: 100%;
					height: 112%;
					z-index: -1;
				}

				@include mobile {
					height: 50px;
					width: 60px;
				}
			}

			&__contacto {
				font-family: 'Press Start 2P', 'Share Tech Mono', 'Share Tech', sans-serif;
				font-size: 1em;
				width: 190px;
				height: 50px;
				background: #FAC144;
				color: #000;
				border:0px;
				position: relative;
				box-shadow:
					inset -4px 4px 1px 1px grey,
					inset -4px -4px 1px 1px lightgray,
					inset 4px 0px 1px 1px lightgray;
				margin-right: 33px;
				&:hover {
					color: #fff;
					cursor: pointer;
					background: #F1864B;
				}
				&:active {
					top: 5px;
					box-shadow:
						-4px 4px 1px 1px grey,
						-4px -4px 1px 1px lightgray,
						4px 0px 1px 1px lightgray;
				}
				&::after {
					content: '';
					background: black;
					position: absolute;
					left: -1.5%;
					top: 0;
					width: 103%;
					height: 100%;
					z-index: -1;
				}
				&::before {
					content: '';
					background: black;
					position: absolute;
					left: 0;
					top: -6%;
					width: 100%;
					height: 112%;
					z-index: -1;
				}
			}

			&__whitepaper {
				font-family: 'Press Start 2P', 'Share Tech Mono', 'Share Tech', sans-serif;
				font-size: 1em;
				width: 190px;
				height: 50px;
				background: #DC1C28;
				color: #000;
				border:0px;
				position: relative;
				box-shadow:
					inset -4px 4px 1px 1px grey,
					inset -4px -4px 1px 1px lightgray,
					inset 4px 0px 1px 1px lightgray;
				margin-right: 33px;
				&:hover {
					color: #fff;
					cursor: pointer;
					background: #87181B;
				}
				&:active {
					top: 5px;
					box-shadow:
						-4px 4px 1px 1px grey,
						-4px -4px 1px 1px lightgray,
						4px 0px 1px 1px lightgray;
				}
				&::after {
					content: '';
					background: black;
					position: absolute;
					left: -1.5%;
					top: 0;
					width: 103%;
					height: 100%;
					z-index: -1;
				}
				&::before {
					content: '';
					background: black;
					position: absolute;
					left: 0;
					top: -6%;
					width: 100%;
					height: 112%;
					z-index: -1;
				}
			}
		}
	}
	&__social {
		top: 15px;
		right: 104px;
		display: flex;
		position: absolute;
		margin-left: 0;
		justify-content: center;
		align-items: center;
		transition: 0.2s;
		margin-top: 30px;
		&:hover {
			transform: scale(1.1);
			transition: 0.2s;
		}
	}
}
