.footer__buttons__default {
  width: 120px;
  height: 90px;
  cursor: pointer;
  position: relative;
  transition:
    all 0,
    2s ease;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  &:hover {
    position: relative;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
  }
  &:hover::before {
    top: 20%;
    transform: perspective(1000px) rotateX(-30deg);
  }
  @include mobile {
    width: 40px;
    height: 40px;
  }
  @include tablet {
    width: 40px;
    height: 40px;
  }
  @include desktop-portrait {
    width: 40px;
    height: 40px;
  }
  @include mobile-landscape {
    width: 40px;
    height: 40px;
  }
  @include tablet-landscape {
    width: 40px;
    height: 40px;
  }
  @include large-desktop {
    width: 80px;
    height: 40px;
  }
}

.footer__buttons__custom__before {
  content: '';
  position: absolute;
  top: 10%;
  left: 35%;
  width: 35%;
  height: 35%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform-origin: center center;
  transform: perspective(1000px) rotateX(-30deg);
  z-index: 2;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: url(/images/footer/botonera.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 12.5vh;
  position: absolute;
  bottom: 0;
  margin-top: auto;
  width: 100%;
  z-index: 222;

  @include mobile {
    width: 100%;
    height: 8.5vh;
  }

  &__insert {
    width: 200px;
    height: 80px;
    background-image: url(/images/footer/insert-coin.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    transition: transform 0.3s ease; /* Add transition for smooth scaling */
    transform-origin: center center; /* Set scaling origin to center */
    cursor: pointer;

    &:hover {
      transform: scale(1.1); /* Scale the element on hover */
    }

    @include mobile {
      display: none;
      visibility: hidden;
    }
    @include tablet {
      display: none;
      visibility: hidden;
    }
    @include mobile-landscape {
      display: none;
      visibility: hidden;
    }
    @include tablet-landscape {
      display: none;
      visibility: hidden;
    }
    @include desktop-portrait {
      display: none;
      visibility: hidden;
    }
    @include large-desktop {
      width: 160px;
      height: 50px;
    }
  }

  &__buttons {
    width: 80%;
    display: flex;
    position: relative;
    justify-content: space-around;

    @include mobile {
      width: 50%;
      justify-content: space-around;
      gap: 2%;
    }
    @include tablet {
      width: 50%;
      justify-content: space-around;
      gap: 5%;
    }
    @include mobile-landscape {
      width: 50%;
      justify-content: space-around;
      gap: 2%;
    }
    @include tablet-landscape {
      width: 50%;
      justify-content: space-around;
      gap: 5%;
    }
    @include desktop-portrait {
      width: 50%;
      justify-content: space-around;
      gap: 5%;
    }
    @include large-desktop {
      width: 50%;
    }

    // default buttons
    &__bluebtn_default {
      @extend .footer__buttons__default;
      background-image: url(/images/footer/blue-default.png);
      &:hover {
        background-image: url(/images/footer/blue-default-hover.png);
      }
    }
    &__greenbtn_default {
      @extend .footer__buttons__default;
      background-image: url(/images/footer/green-default.png);
      &:hover {
        background-image: url(/images/footer/green-default-hover.png);
      }
    }
    &__redbtn_default {
      @extend .footer__buttons__default;
      background-image: url(/images/footer/red-default.png);
      &:hover {
        background-image: url(/images/footer/red-default-hover.png);
      }
    }
    &__yellowbtn_default {
      @extend .footer__buttons__default;
      background-image: url(/images/footer/yellow-default.png);
      &:hover {
        background-image: url(/images/footer/yellow-default-hover.png);
      }
    }

    // custom buttons
    &__bluebtn_custom {
      @extend .footer__buttons__default;
      background-image: url(/images/footer/blue-custom.png);
      &:hover {
        background-image: url(/images/footer/blue-custom-hover.png);
      }
    }
    &__greenbtn_custom {
      @extend .footer__buttons__default;
      background-image: url(/images/footer/green-custom.png);
      &:hover {
        background-image: url(/images/footer/green-custom-hover.png);
      }
    }
    &__redbtn_custom {
      @extend .footer__buttons__default;
      background-image: url(/images/footer/red-custom.png);
      &:hover {
        background-image: url(/images/footer/red-custom-hover.png);
      }
    }
    &__yellowbtn_custom {
      @extend .footer__buttons__default;
      background-image: url(/images/footer/yellow-custom.png);
      &:hover {
        background-image: url(/images/footer/yellow-custom-hover.png);
      }
    }

    // custom-buttons-gamma
    &__bluebtn_custom_switch_inventory {
      @extend .footer__buttons__default;
      background-image: url(/images/footer/blue-custom.png);
      &:hover {
        background-image: url(/images/footer/blue-custom-hover.png);
      }
      &::before {
        @extend .footer__buttons__custom__before;
        background-image: url(/images/gamma/albumsReduced.png);
      }
    }
    &__bluebtn_custom_switch_album__120 {
      @extend .footer__buttons__default;
      background-image: url(/images/footer/blue-custom.png);
      &:hover {
        background-image: url(/images/footer/blue-custom-hover.png);
      }
      &::before {
        @extend .footer__buttons__custom__before;
        background-image: url(/images/gamma/AlbumGamma120.png);
      }
    }
    &__bluebtn_custom_switch_album__toburn {
      @extend .footer__buttons__default;
      background-image: url(/images/footer/blue-custom.png);
      &:hover {
        background-image: url(/images/footer/blue-custom-hover.png);
      }
      &::before {
        @extend .footer__buttons__custom__before;
        background-image: url(/images/gamma/AlbumGammaToBurn.png);
      }
    }
    &__greenbtn_custom_shop {
      @extend .footer__buttons__default;
      background-image: url(/images/footer/green-custom.png);
      &:hover {
        background-image: url(/images/footer/green-custom-hover.png);
      }
      &::before {
        @extend .footer__buttons__custom__before;
        background-image: url(/images/gamma/buyPackOn.png);
      }
    }
    &__greenbtn_custom_claim {
      @extend .footer__buttons__default;
      background-image: url(/images/footer/green-custom.png);
      &:hover {
        background-image: url(/images/footer/green-custom-hover.png);
      }
      &::before {
        @extend .footer__buttons__custom__before;
        background-image: url(/images/gamma/claimPrize.png);
      }
    }
    &__greenbtn_custom_confirm {
      @extend .footer__buttons__default;
      background-image: url(/images/footer/green-custom.png);
      &:hover {
        background-image: url(/images/footer/green-custom-hover.png);
      }
      &::before {
        @extend .footer__buttons__custom__before;
        background-image: url(/images/footer/check-mark.png);
      }
    }
    &__greenbtn_custom_selectAll {
      @extend .footer__buttons__default;
      background-image: url(/images/footer/green-custom.png);
      &:hover {
        background-image: url(/images/footer/green-custom-hover.png);
      }
      &::before {
        @extend .footer__buttons__custom__before;
        background-image: url(/images/footer/selectAll.png);
      }
    }
    &__redbtn_custom_open {
      @extend .footer__buttons__default;
      background-image: url(/images/footer/red-custom.png);
      &:hover {
        background-image: url(/images/footer/red-custom-hover.png);
      }
      &::before {
        @extend .footer__buttons__custom__before;
        background-image: url(/images/gamma/openPackOn.png);
      }
    }
    &__redbtn_custom_cancel {
      @extend .footer__buttons__default;
      background-image: url(/images/footer/red-custom.png);
      &:hover {
        background-image: url(/images/footer/red-custom-hover.png);
      }
      &::before {
        @extend .footer__buttons__custom__before;
        background-image: url(/images/footer/cancel.png);
      }
    }
    &__redbtn_custom_undo {
      @extend .footer__buttons__default;
      background-image: url(/images/footer/red-custom.png);
      &:hover {
        background-image: url(/images/footer/red-custom-hover.png);
      }
      &::before {
        @extend .footer__buttons__custom__before;
        background-image: url(/images/footer/undo.png);
      }
    }
    &__yellowbtn_custom_transfer {
      @extend .footer__buttons__default;
      background-image: url(/images/footer/yellow-custom.png);
      &:hover {
        background-image: url(/images/footer/yellow-custom-hover.png);
      }
      &::before {
        @extend .footer__buttons__custom__before;
        background-image: url(/images/gamma/transferPackOn.png);
      }
    }
  }
  &__handle {
    width: 250px;
    display: flex;
    justify-content: space-between;

    @include mobile {
      width: 0;
      visibility: hidden;
      display: none;
    }
    @include tablet {
      width: 0;
      visibility: hidden;
      display: none;
    }
    @include mobile-landscape {
      width: 0;
      visibility: hidden;
      display: none;
    }
    @include tablet-landscape {
      width: 0;
      visibility: hidden;
      display: none;
    }
    @include desktop-portrait {
      width: 0;
      visibility: hidden;
      display: none;
    }

    &__green {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 218px;
      height: 236px;
      background-image: url(/images/footer/handle-green.png);
      cursor: pointer;
      position: relative;
      transition:
        all 0,
        4s ease;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: center;
      margin-bottom: 200px;
      margin-right: 20px;
      &:hover {
        background-image: url(/images/footer/handle-green-hover.png);
        position: relative;
        width: 218px;
        height: 236px;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        @include large-desktop {
          width: 110px;
          height: 100px;
          margin-bottom: 100px;
        }
      }
      @include desktop {
        width: 218px;
      }
      @include mobile {
        width: 0;
        visibility: hidden;
        display: none;
      }
      @include tablet {
        width: 0;
        visibility: hidden;
        display: none;
      }
      @include mobile-landscape {
        width: 0;
        visibility: hidden;
        display: none;
      }
      @include tablet-landscape {
        width: 0;
        visibility: hidden;
        display: none;
      }
      @include desktop-portrait {
        width: 0;
        visibility: hidden;
        display: none;
      }
      @include large-desktop {
        width: 110px;
        height: 100px;
        margin-bottom: 100px;
        margin-right: 50px;
      }
      @include tablet {
        margin-right: 100px;
      }
    }

    &__red {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 218px;
      height: 236px;
      background-image: url(/images/footer/handle-red.png);
      cursor: pointer;
      position: relative;
      transition:
        all 0,
        4s ease;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: center;
      margin-bottom: 200px;
      margin-left: 20px;
      &:hover {
        background-image: url(/images/footer/handle-red-hover.png);
        position: relative;
        width: 218px;
        height: 236px;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        @include large-desktop {
          width: 110px;
          height: 100px;
          margin-bottom: 100px;
        }
      }

      @include mobile {
        width: 0;
        visibility: hidden;
        display: none;
      }
      @include tablet {
        width: 0;
        visibility: hidden;
        display: none;
      }
      @include mobile-landscape {
        width: 0;
        visibility: hidden;
        display: none;
      }
      @include tablet-landscape {
        width: 0;
        visibility: hidden;
        display: none;
      }
      @include desktop-portrait {
        width: 0;
        visibility: hidden;
        display: none;
      }
      @include large-desktop {
        width: 110px;
        height: 100px;
        margin-bottom: 100px;
      }
    }
  }
  &__text {
    text-align: right;
    visibility: hidden;
    @include mobile {
      width: 0;
      display: none;
      visibility: hidden;
    }
    @include mobile-landscape {
      width: 0;
      display: none;
      visibility: hidden;
    }
    @include tablet {
      width: 0;
      display: none;
      visibility: hidden;
    }
    @include tablet-landscape {
      display: none;
      visibility: hidden;
    }
    @include desktop-portrait {
      display: none;
      visibility: hidden;
    }
    @include large-desktop {
      width: 160px;
      font-size: 8px;
    }
  }
}
