$backWidth: 512px;
$backHeight: 432px;
$bushesWidth: 508px;
$bushesHeight: 79px;
$groundWidth: 218px;
$groundHeight: 40px;

#cards {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero,
.alpha,
.gamma_main {
  height: 87.5vh;
  background-image: url('/images/hero/NofCaballero.gif'), url('/images/hero/front1.png'),
    url('/images/hero/Country0.png'), url('/images/hero/background0.png');
  background-color: #000;
  background-repeat: no-repeat, repeat-x, repeat-x, repeat-x;
  background-position:
    left 30% bottom $groundHeight,
    left 0px bottom 0px,
    left 0px bottom $groundHeight,
    left 0px bottom 0px;
  animation: back 120s infinite linear;
  padding: 0px 0px 0px 0px;

  @keyframes back {
    0% {
      background-position:
        left 30% bottom $groundHeight,
        left 0px bottom 0px,
        left 0px bottom $groundHeight,
        left 0px bottom 0px;
    }
    50% {
      background-position:
        left 50% bottom $groundHeight,
        left (-($groundWidth * 12)) bottom 0px,
        left (-($bushesWidth * 1)) bottom $groundHeight,
        left (-($backWidth / 2)) bottom 0px;
    }
    100% {
      background-position:
        left 30% bottom $groundHeight,
        left (-($groundWidth * 24)) bottom 0px,
        left (-($bushesWidth * 2)) bottom $groundHeight,
        left (-$backWidth) bottom 0px;
    }
  }
  @include mobile {
    height: 92vh;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    //home-nof-left
    &__nof {
      width: 210px;
      height: 380px;
      position: absolute;
      bottom: 35%;
      left: 6%;
      @media all and (orientation: portrait) {
        top: 60%;
        left: 26%;
        bottom: 18%;
        width: 105px !important;
        height: 190px !important;
      }
      @include mobile {
        display: none;
      }
      @include mobile-landscape {
        display: none;
      }
      @include tablet {
      }
      @include tablet-landscape {
      }
      @include desktop-portrait {
        display: none;
      }

      @include large-desktop {
        width: 160px;
        height: 285px;
      }
    }

    // book-principal
    &__album {
      display: flex;
      justify-content: center;
      align-items: center;
      background-image: url('/images/hero/book.png');
      position: absolute;
      background-size: 100% 100%;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);

      @include mobile {
        margin-top: 40px;
        width: 316px !important;
        height: 412px !important;
        background-image: url('/images/hero/libreta.png');
      }

      @include tablet {
        top: 35% !important;
        width: 700px;
        height: 450px;
      }
      @include tablet-landscape {
        width: 600px !important;
        height: 420px !important;
      }
      @include desktop {
        width: 600px;
        height: 400px;
        font-size: 12px;
        line-height: 18px;
        top: 45%;
      }

      @include large-desktop {
        width: 600px;
        height: 400px;
        font-size: 12px;
        line-height: 18px;
        top: 45%;
      }

      @include extra-large-desktop {
        width: 900px;
        height: 600px;
      }

      &__book {
        width: 700px;
        height: 100%;
        @include large-desktop {
          width: 640px;
          height: 100%;
        }
        @include mobile {
          width: 200px;
        }
        &__page {
          background-image: url('/images/hero/page-1.png');
          background-size: 100% 100%;
          height: 100% !important;
          width: 50% !important;
          top: 0% !important;
          padding-top: 5%;
          position: relative;
          @media (min-width: 600px) {
            left: 0% !important;
          }
          @include mobile {
            background-image: url('/images/hero/page-2.png');
            width: 200px;
            padding-top: 10%;
            width: 95% !important;
            margin-left: 3%;
            top: 100%;
            height: 100% !important;
          }
          &__page-content {
            display: flex;
            flex-direction: column;
            width: 80%;
            height: 85%;
            padding: 5px 0 5px 0;
            margin: 0 auto;
            align-items: center;
            justify-content: space-between;
          }
          &__text {
            position: relative;
            width: 80%;
            text-align: center;
            margin: 0 auto;

            @include mobile {
              display: none;
            }
            @include mobile-landscape {
              display: none;
            }
            @include desktop-portrait {
              disaply: none;
            }
          }
          &__text2 {
            position: relative;
            width: 95%;
            text-align: center;
            margin: 0 auto;
            line-height: 1.5;
            font-size: 8px;
            @include mobile {
              line-height: 1.5;
              font-size: 8px;
            }
            @include extra-large-desktop {
              font-size: 12px;
            }
          }
          &__collection-text {
            line-height: 1.7;
          }

          &__nof {
            padding-left: 60px;
            text-align: left;
          }
          &__btn {
            font-family: 'Press Start 2P', 'Share Tech Mono', 'Share Tech', sans-serif;
            font-size: 0.9em;
            width: 150px;
            height: 30px;
            margin-top: 4px;
            margin-bottom: 6px;
            background: #007ced;
            color: #000;
            border: 0px;
            position: relative;
            box-shadow:
              inset -4px 4px 1px 1px grey,
              inset -4px -4px 1px 1px lightgray,
              inset 4px 0px 1px 1px lightgray;
            margin-right: 30px;
            &:hover {
              cursor: pointer;
              background: #3896ee;
            }
            &:active {
              top: 5px;
              box-shadow:
                -4px 4px 1px 1px grey,
                -4px -4px 1px 1px lightgray,
                4px 0px 1px 1px lightgray;
            }
            &::after {
              content: '';
              background: black;
              position: absolute;
              left: -1.5%;
              top: 0;
              width: 103%;
              height: 100%;
              z-index: -1;
            }
            &::before {
              content: '';
              background: black;
              position: absolute;
              left: 0;
              top: -6%;
              width: 100%;
              height: 112%;
              z-index: -1;
            }
            @include mobile {
              font-size: 0.45em;
              width: 100px;
              height: 20px;
              margin-right: 10px;
            }
            @include tablet {
              font-size: 0.55em;
              width: 100px;
              height: 30px;
              margin-right: 10px;
            }

            @include desktop {
              font-size: 0.3em;
              width: 80px;
              height: 30px;
              margin-right: 10px;
            }
            @include desktop-portrait {
              font-size: 0.3em;
              width: 80px;
              height: 20px;
              margin-right: 10px;
            }
            @include large-desktop {
              font-size: 0.7em;
              width: 90px;
              height: 25px;
              margin-right: 10px;
            }
          }

          &__btn2 {
            @extend .hero__top__album__book__page__btn;
            background: #f60008;
            &:hover {
              background: #fc272e;
            }
          }

          &__btn3 {
            @extend .hero__top__album__book__page__btn;
            background: #eeda41;
            &:hover {
              background: #f8ea83;
            }
          }
          &__profiles {
            position: relative;
            height: 100%;
            width: 100%;
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;
            align-content: flex-end;
            justify-content: space-between;
            @include mobile {
              width: 90%;
              margin-right: 20px;
            }
            &__title {
              padding-bottom: 5%;
              position: relative;
              height: 5%;
              width: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              margin: 0;
            }
            &__content {
              position: relative;
              height: 90%;
              width: 100%;
              margin: 0 auto;
              display: flex;
              justify-content: flex-start;
              align-items: flex-start;
              align-content: flex-start;
              gap: 5%;
              flex-wrap: wrap;
              margin: 0;
              row-gap: 40px;
              @include extra-large-desktop {
                row-gap: 60px;
              }
              @include mobile {
                width: 90%;
                row-gap: 20px;
              }
            }
            &__box {
              height: 20%;
              width: 30%;
              position: relative;
              display: flex;
              padding-top: 17%;
              flex-direction: column;
              justify-content: space-between;
              @include mobile {
                width: 30%;
                margin-top: 15px;
              }
              p {
                letter-spacing: -2px;
                text-align: center;
                line-height: 1.2;
                @include mobile {
                  font-size: 0.3rem;
                  margin-top: 15px;
                  letter-spacing: -3px;
                }
                @include desktop {
                  font-size: 0.38rem;
                  line-height: 10px;
                }
                @include large-desktop {
                  padding-top: 15px;
                  font-size: 7.5px;
                }
                @include extra-large-desktop {
                  padding-top: 30px;
                  font-size: 10px;
                }
                @include extra-large-desktop {
                  padding-top: 35px;
                  font-size: 10px;
                }
              }
              .img {
                width: 60px !important;
                height: 60px !important;
                margin: 0 auto;
                @include mobile {
                  width: 60px !important;
                  height: 60px !important;
                }
                @include extra-large-desktop {
                  width: 95px !important;
                  height: 95px !important;
                }
                @include extra-large-desktop {
                  width: 80px !important;
                  height: 80px !important;
                }
              }
            }
          }
          .hero__top__container__mobile {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            height: 85%;
          }
          .swiper {
            width: 170px;
            height: 170px;
            @include mobile {
              width: 135px !important;
              height: 135px !important;
            }
          }

          .swiper-slide {
            display: flex;
            align-items: center;
            justify-content: center;
            background-size: 100% 100%;
          }

          .pagination {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 5%;

            .swiper-pagination-bullet {
              background-color: #092b39;
              height: 10px;
              width: 10px;
              margin-right: 5px;
              opacity: 1;
              cursor: pointer;
              border-radius: 0;
            }
            .swiper-pagination-bullet-active {
              background-color: #cfa763;
              opacity: 1.5;
            }
          }
        }
        &__page0 {
          top: 0% !important;
          padding-top: 5%;
          padding-right: 3%;
          position: relative;
          right: 0% !important;
          height: 100% !important;
          width: 50% !important;
          background-image: url('/images/hero/page-2.png');
          background-size: 100% 100%;
          @include mobile {
            background-image: url('/images/hero/page-2.png');
            width: 200px;
            padding-top: 10%;
            margin-left: 3%;
            width: 95% !important;
            // left: 7% !important;
            height: 100% !important;
          }
        }
      }
    }

    &__album__gamma {
      @extend .hero__top__album;
      background-image: url('/images/gamma/GammaFondo.png') !important;
      @include mobile {
        background-image: url('/images/gamma/GammaFondo-libreta.png') !important;
      }
    }
  }
}
.navbar__icon {
  display: flex;
}

.hero__top__container__swiper {
  position: absolute;
  bottom: 40%;
  right: 7%;
  @media all and (orientation: portrait) {
    position: absolute;
    top: 58%;
    bottom: 18%;
    right: 28%;
  }
  @include tablet-landscape {
    right: 3% !important;
  }
}
.swiper {
  margin-top: 19%;
  width: 250px;
  height: 250px;
  @include mobile {
    margin-top: 0px !important;
  }
  @include large-desktop {
    width: 150px;
    height: 150px;
  }
  @include tablet-landscape {
    width: 130px !important;
    height: 130px !important;
  }
}

.swiper-slide {
  padding-top: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 100% 100%;
  @include mobile {
    display: none;
  }
  @include mobile-landscape {
    display: none;
  }
  @include desktop-portrait {
    display: none;
  }

  @include tablet {
    margin-top: 1%;
  }
}

.swiper-slide:nth-child(1n) {
  background-image: url(/images/hero/nof-0.png);
}

.swiper-slide:nth-child(2n) {
  background-image: url(/images/hero/nof-1.png);
}

.swiper-slide:nth-child(3n) {
  background-image: url(/images/hero/nof-2.png);
}

.swiper-slide:nth-child(4n) {
  background-image: url(/images/hero/nof-3.png);
}

.swiper-slide:nth-child(5n) {
  background-image: url(/images/hero/nof-4.png);
}

.swiper-slide:nth-child(6n) {
  background-image: url(/images/hero/nof-5.png);
}

.swiper-slide:nth-child(7n) {
  background-image: url(/images/hero/nof-6.png);
}

.swiper-slide:nth-child(8n) {
  background-image: url(/images/hero/nof-7.png);
}

.swiper-slide:nth-child(9n) {
  background-image: url(/images/hero/nof-8.png);
}

.swiper-slide:nth-child(10n) {
  background-image: url(/images/hero/nof-9.png);
}
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5%;
  @include mobile {
    display: none;
  }
  @include mobile-landscape {
    display: none;
  }
  @include tablet {
    display: none;
  }
  @include desktop-portrait {
    display: none;
  }

  .swiper-pagination-bullet {
    background-color: #092b39;
    height: 10px;
    width: 10px;
    margin-right: 5px;
    opacity: 1;
    cursor: pointer;
    border-radius: 0;
  }

  .swiper-pagination-bullet-active {
    background-color: #cfa763;
    opacity: 1.5;
  }
}

.text-blocker {
  padding-top: 25%;
  line-height: 2;
  text-align: center;

  @include mobile {
    display: none;
  }
  @include mobile-landscape {
    display: none;
  }
  @include desktop-portrait {
    display: none;
  }

  @include large-desktop {
    font-size: 13px;
  }
  @include extra-large-desktop {
    font-size: 19px;
  }
}

.blocker {
  display: none;
  @include mobile {
    display: contents;
  }
}

.nofi_container {
  display: none;
  @include mobile {
    display: contents;
  }
  .nofimg {
    width: 60px;
    height: 120px;
    position: relative;
  }
}

.bookflip_container {
  display: flex;
  justify-content: center;
  align-items: center;
  @include mobile {
    display: none;
  }
  @include mobile-landscape {
    display: none;
  }
  @include desktop-portrait {
    display: none;
  }

  .bookimg {
    width: 200px;
    height: 110px;
    position: relative;
  }
}

.coin_container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 70%;
  margin: 0 auto;
  @include mobile {
    display: none;
  }
  @include mobile-landscape {
    display: none;
  }
  @include desktop-portrait {
    display: none;
  }

  .coinimg {
    position: relative;
    height: 50px;
    width: 30%;
    justify-content: center;
    align-items: center;
  }
  .coinimg2 {
    position: relative;
    height: 50px;
    width: 30%;
    justify-content: center;
    align-items: center;
  }
  .coinimg3 {
    position: relative;
    height: 50px;
    width: 30%;
    justify-content: center;
    align-items: center;
  }
}

.friends_container {
  position: relative;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  justify-content: space-between;
  .title {
    padding-bottom: 5%;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  .content {
    position: relative;
    height: 90%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    gap: 5%;
    flex-wrap: wrap;
    margin: 0 auto;
    row-gap: 40px;
    @include extra-large-desktop {
      row-gap: 60px;
    }
  }
  .box {
    height: 20%;
    width: 30%;
    position: relative;
    @include mobile {
      width: 30%;
    }
    p {
      margin-top: 62px;
      font-size: 0.45rem;
      letter-spacing: -2px;
      line-height: 10px;
      text-align: center;
      @include mobile {
        font-size: 8px;
        margin-top: 65px;
        letter-spacing: -3px;
      }
      @include desktop {
        font-size: 0.38rem;
        line-height: 10px;
      }
      @include large-desktop {
        font-size: 7.5px;
      }
      @include extra-large-desktop {
        padding-top: 30px;
        font-size: 10px;
      }
    }
  }
  .img {
    margin: 0 auto;
    width: 60px !important;
    height: 60px !important;
    @include mobile {
      width: 60px !important;
      height: 60px !important;
    }
    @include extra-large-desktop {
      width: 95px !important;
      height: 95px !important;
    }
    @include extra-large-desktop {
      width: 80px !important;
      height: 80px !important;
    }
  }
}

.book_container {
  position: relative;
  justify-content: center;
  align-items: center;
  height: 15%;
  width: 70%;
  margin: 0 auto;
}

.tech_container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 30%;
  top: 60px;
  margin: 0 auto;
  @include mobile {
    display: none;
  }
  @include mobile-landscape {
    display: none;
  }
  @include desktop-portrait {
    display: none;
  }

  .techimg {
    height: 100%;
    width: 100%;
    padding-bottom: 250px;
    justify-content: center;
    align-items: center;
  }
}

.nof_container {
  position: relative;
  width: 90%;
  margin: 0 auto;
  .nof1 {
    position: relative;
    width: 100%;
    height: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    .noftitle {
      font-size: 0.8rem;
      position: relative;
      height: 100%;
      display: flex;
      text-align: left;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      left: 15px;

      @include extra-large-desktop {
        font-size: 16px;
      }
      h3 {
        font-size: 0.4rem;
        text-align: right;
      }
    }
    .nofimg {
      position: relative;
      height: 100%;
      width: 25%;
      justify-content: center;
      align-items: center;
    }
  }
  .nof2 {
    position: relative;
    width: 100%;
    height: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    .noftitle {
      font-size: 0.8rem;
      position: relative;
      height: 100%;
      display: flex;
      text-align: left;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      left: 15px;
      @include extra-large-desktop {
        font-size: 16px;
      }
      h3 {
        font-size: 0.4rem;
        text-align: right;
      }
    }
    .nofimg {
      position: relative;
      height: 100%;
      width: 25%;
      justify-content: center;
      align-items: center;
    }
  }
  .nof3 {
    position: relative;
    width: 100%;
    height: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    .noftitle {
      font-size: 0.8rem;
      position: relative;
      height: 100%;
      display: flex;
      text-align: left;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      left: 15px;
      @include extra-large-desktop {
        font-size: 16px;
      }
      h3 {
        font-size: 0.4rem;
        text-align: right;
      }
    }
    .nofimg {
      position: relative;
      height: 100%;
      width: 25%;
      justify-content: center;
      align-items: center;
    }
  }
}

.season_container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15%;
  width: 70%;
  margin: 0 auto;
  .seasonimg {
    position: relative;
    height: 100%;
    width: 30%;
    justify-content: center;
    align-items: center;
  }
}

.albums_container {
  position: relative;
  width: 90%;
  margin: 0 auto;
  .album1 {
    position: relative;
    width: 100%;
    height: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    .albumtitle {
      position: relative;
      height: 100%;
      width: 90%;
      display: flex;
      font-size: 0.8rem;
      justify-content: center;
      align-items: center;
      text-align: center;
      line-height: 1.3;
      @include extra-large-desktop {
        font-size: 16px;
      }
      h3 {
        font-size: 0.4rem;
        text-align: left;
      }
    }
    .albumimg {
      position: relative;
      height: 80%;
      width: 30%;
      justify-content: center;
      align-items: center;
    }
  }
  .album2 {
    position: relative;
    width: 100%;
    height: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    .albumtitle {
      position: relative;
      height: 100%;
      width: 70%;
      display: flex;
      font-size: 0.8rem;
      justify-content: center;
      align-items: center;
      text-align: center;
      line-height: 1.3;
      @include extra-large-desktop {
        font-size: 16px;
      }
      h3 {
        font-size: 0.26rem;
        text-align: left;
      }
    }
    .albumimg {
      position: relative;
      height: 80%;
      width: 30%;
      justify-content: center;
      align-items: center;
    }
  }
  .album3 {
    position: relative;
    width: 100%;
    height: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    .albumtitle {
      position: relative;
      height: 100%;
      width: 70%;
      display: flex;
      font-size: 0.8rem;
      justify-content: center;
      align-items: center;
      text-align: center;
      line-height: 1.3;
      @include extra-large-desktop {
        font-size: 16px;
      }
      h3 {
        font-size: 0rem;
        text-align: left;
      }
    }
    .albumimg {
      position: relative;
      height: 80%;
      width: 30%;
      justify-content: center;
      align-items: center;
    }
  }
}

.rules_text_common {
  font-family: 'Press Start 2P', 'Share Tech Mono', 'Share Tech', sans-serif;
  line-height: 1.5;
  font-size: 16px;
  margin-left: 3%;
  margin-right: 3%;
  text-align: center;

  @include mobile {
    font-size: 12px;
  }
}

.rules_text_left {
  margin-bottom: 30%;
  @extend .rules_text_common;
  padding-left: 5px;
  padding-right: 5px;
  @include mobile {
  }
}

.rules_text_right {
  @extend .rules_text_common;
  margin-top: 10%;
  margin-bottom: 10%;
  @include mobile {
    margin-top: 6%;
  }
}

.hero__top__album__book__button__bottom__hook {
  position: absolute;
  bottom: 30px;
  left: 5px;
  z-index: 999;
}

.hero__top__album__book__button__bottom__hook::before {
  content: '';
  position: absolute;
  z-index: 1;
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}

.hero__top__album__book__button__top__hook {
  position: absolute;
  top: 60px;
  left: 0;
  z-index: 999;
}

.hero__top__album__book__button__top__hook::before {
  @extend .hero__top__album__book__button__bottom__hook;
}
