.gamma__cards__exchange__main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0;
}

.gamma__cards__exchange {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: 80%;
  max-width: 800px;
  gap: 20px;
}

.gamma__cards__exchange__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.gamma__cards__exchange__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.gamma__cards__exchange__image {
  width: 200px;
  height: 200px;
  max-width: 100%;
  max-height: 100%;
  border: 5px solid #cfa763;
}

.gamma__cards__exchange__text,
.gamma__cards__exchange__wallet {
  font-family: 'Press Start 2P', 'Share Tech Mono', 'Share Tech', sans-serif;
  font-size: 0.6rem;
}

.gamma__cards__exchange__transfer {
  font-family: 'Press Start 2P', 'Share Tech Mono', 'Share Tech', sans-serif;
  font-size: 0.9rem;
}

@media (max-width: 768px) {
  .gamma__cards__exchange {
    flex-direction: column;
    align-items: center;
  }

  .gamma__cards__exchange__image {
    width: 130px;
    height: 130px;
    max-width: 100%;
    max-height: 100%;
  }

  .gamma__cards__exchange__text,
  .gamma__cards__exchange__wallet {
    font-family: 'Press Start 2P', 'Share Tech Mono', 'Share Tech', sans-serif;
    font-size: 0.5rem;
  }

  .gamma__cards__exchange__transfer {
    font-family: 'Press Start 2P', 'Share Tech Mono', 'Share Tech', sans-serif;
    font-size: 0.7rem;
    margin-top: 1%;
    margin-bottom: 1%;
    line-height: 150%;
  }

  .gamma__cards__exchange__center {
    width: 110%;
  }
}
