@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Share+Tech&family=Share+Tech+Mono&display=swap');
@import './_media-queries.scss';
@import './variables';
@import './_navbar.scss';
@import './_navbar-account.scss';
@import './_navbar-notification.scss';
@import './_footer.scss';
@import './_hero.scss';

html,
body {
  overflow: hidden !important;
  background: transparent;
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  font-family: 'Press Start 2P', 'Share Tech Mono', 'Share Tech', sans-serif;
}

header {
  background: transparent;
}

p {
  font-size: 62.5%;
}

::-webkit-scrollbar {
  width: 10px;
  background: $base;
}
::-webkit-scrollbar-thumb {
  background: $element;
  justify-content: space-between;
  margin: 0 4rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #0d4055;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (max-width: 576px) {
  html,
  body {
    height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
    background-position: center;
    box-sizing: border-box;
    max-width: 100%;
  }
}
