.footer {
    display: flex;
	justify-content: space-between;
	align-items: center;
    background-image: url(./footer/botonera.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100px;
    position: sticky;
	width: 100%;
    bottom: 0;
    z-index: 222;

    &__insert {
        width: 200px;
        height: 80px;
        background-image: url(./footer/insert-coin.png);
        position: relative;
        background-size: 100% 100%;    
        background-repeat: no-repeat;     
        background-position: center;
    }

    &__buttons {
        width: 50%;
        display: flex;
        position: relative;
        justify-content: space-between;
        &__blue {
            width: 150px;
            height: 100px;
            background-image: url(./footer/blue.png);
            cursor: pointer;
            position: relative;
            transition: all 0,2s ease;
            background-size: 100% 100%;     
            background-repeat: no-repeat;     
            background-position: center;
            &:hover {
                background-image: url(./footer/blue-hover.png);
                position: relative;
                background-size: 100% 100%;    
                background-repeat: no-repeat;     
                background-position: center;
            }
        }
        &__red {
            width: 150px;
            height: 100px;
            background-image: url(./footer/red.png);
            cursor: pointer;
            position: relative;
            transition: all 0,2s ease;
            background-size: 100% 100%;     
            background-repeat: no-repeat;     
            background-position: center;
            &:hover {
                background-image: url(./footer/red-hover.png);
                position: relative;
                background-size: 100% 100%;    
                background-repeat: no-repeat;     
                background-position: center;
            }
        }
        &__green {
            width: 150px;
            height: 100px;
            background-image: url(./footer/green.png);
            cursor: pointer;
            position: relative;
            transition: all 0,2s ease;
            background-size: 100% 100%;     
            background-repeat: no-repeat;     
            background-position: center;
            &:hover {
                background-image: url(./footer/green-hover.png);
                position: relative;
                background-size: 100% 100%;    
                background-repeat: no-repeat;     
                background-position: center;
            }
        }
        &__yellow {
            width: 150px;
            height: 100px;
            background-image: url(./footer/yellow.png);
            cursor: pointer;
            position: relative;
            transition: all 0,2s ease;
            background-size: 100% 100%;     
            background-repeat: no-repeat;     
            background-position: center;
            &:hover {
                background-image: url(./footer/yellow-hover.png);
                position: relative;
                background-size: 100% 100%;    
                background-repeat: no-repeat;     
                background-position: center;
            }
        }
    }
    &__handle {
        width: 300px;
        display: flex;
        justify-content: space-between;

        &__green {
            display: flex;
			align-items: center;
			justify-content: center;
            width: 218px;
            height: 236px;
            background-image: url(./footer/handle-green.png);
            cursor: pointer;
            position: relative;
            transition: all 0,4s ease;
            background-size: 100% 100%;     
            background-repeat: no-repeat;     
            background-position: center;
            margin-bottom: 200px;
            &:hover {
                background-image: url(./footer/handle-green-hover.png);
                position: relative;
                width: 218px;
                height: 236px;
                background-size: 100% 100%;    
                background-repeat: no-repeat;     
                background-position: center;
            }
        }
        &__red {
            width: 218px;
            height: 236px;
            background-image: url(./footer/handle-red.png);
            cursor: pointer;
            position: relative;
            transition: all 0,4s ease;
            background-size: 100% 100%;     
            background-repeat: no-repeat;     
            background-position: center;
            margin-bottom: 200px;
            &:hover {
                background-image: url(./footer/handle-red-hover.png);
                position: relative;
                width: 218px;
                height: 236px;
                background-size: 100% 100%;    
                background-repeat: no-repeat;     
                background-position: center;
            }
        }
    }
}