.gammaFigures {
  position: absolute;
  bottom: 40%;
  right: 7%;
  width: 100px;
  height: 100px;
  background-color: black;
}

.gammaAlbums {
  position: absolute;
  bottom: 40%;
  left: 7%;
  width: 100px;
  height: 100px;
  background-color: black;
}
