@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Share+Tech&family=Share+Tech+Mono&display=swap');
@import './variables';
@import './_media-queries.scss';
@import './components/Navbar/_navbar.scss';
@import './components/Footer/_footer.scss';
@import './pages/sections/Hero/_hero.scss';

html,
body {
	background: transparent;
	height: 100vh;
	width: 100vw;
	padding: 0;
	margin: 0;
	font-family: 'Press Start 2P', 'Share Tech Mono', 'Share Tech', sans-serif;
}

header {
	background: transparent;
}

p {
	font-size: 62.5%;
}

::-webkit-scrollbar {
	width: 10px;
	background: $base;
}
::-webkit-scrollbar-thumb {
	background: $element;
	justify-content: space-between;
	margin: 0 4rem;
}

::-webkit-scrollbar-thumb:hover {
	background: #0D4055;
}

a {
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

// alpha starts

.loader {
	width: 48px;
	height: 48px;
	border: 5px solid #FFF;
	border-bottom-color: #FF3D00;
	border-radius: 50%;
	display: inline-block;
	box-sizing: border-box;
	animation: rotation 1s linear infinite;
	}

	@keyframes rotation {
	0% {
			transform: rotate(0deg);
	}
	100% {
			transform: rotate(360deg);
	}
	} 

.alpha {
	padding: 0;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.alpha_button {
	cursor: pointer;
	font-family: "Press Start 2P", "Share Tech Mono", "Share Tech", sans-serif;
	box-shadow: inset -4px 4px 1px 1px grey, inset -4px -4px 1px 1px lightgrey, inset 4px 0px 1px 1px lightgrey;
	height: 35px;
	padding: 10px;
	text-align: center;
	font-size: 0.5em;
}

.alpha_display_none {
	display: none;
}

.alpha_container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-size: 0.6em;
	text-align: center;
}

.alpha_data {
	text-align: center;
}

.alpha_cards_container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.alpha_card_container, .alpha_album_container {
	width: 150px;
	height: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.alpha_card_container:hover > .alpha_card_hover {
	opacity: 1;
}

.alpha_album {
	width: 100%;
}

.alpha_card {
	width: 100%;
}

.alpha_card_hover {
	margin: 0;
	padding: 0;
	width: 150px;
	height: 150px;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: rgba(255,255,255,0.5);
	opacity: 0;
	transition: all 0.2s;
}

// alpha ends

@media (max-width: 576px) {
	html,
	body {
		height: 100vh;
		width: 100%;
		padding: 0;
		margin: 0;
        background-position: center;
        box-sizing: border-box;
        max-width: 100%;
    }
}