@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Share+Tech&family=Share+Tech+Mono&display=swap');
@import './variables';
@import './_media-queries.scss';
@import './components/Navbar/_navbar.scss';
@import './components/Footer/_footer.scss';
@import './pages/sections/Hero/_hero.scss';

html,
body {
	height: 100vh;
	padding: 0;
	margin: 0;
	background-color: #000046;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	
	font-family: 'Press Start 2P', 'Share Tech Mono', 'Share Tech', sans-serif;
}

p {
	font-size: 62.5%;
	color: $element;
}

::-webkit-scrollbar {
	width: 10px;
	background: $base;
}
::-webkit-scrollbar-thumb {
	background: $element;
	justify-content: space-between;
	margin: 0 4rem;
}

::-webkit-scrollbar-thumb:hover {
	background: #0D4055;
}

a {
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

@media (max-width: 576px) {
	html,
	body {
		height: 100vh;
		width: 100%;
		padding: 0;
		margin: 0;
        background-position: center;
        box-sizing: border-box;
        max-width: 100%;
    }
}